$btnColour-1: #FF6584;
$btnColour-2: #ff325b;


.LandText {
  margin-left: 140px;
  .Intro{
    color: #30373F;
    font-weight: bold;
    font-size: 2.3rem;
  }
  .Paragraph{
    color: #30373F;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .btn-custom{
    background-color: $btnColour-1;
    color: #FFFFFF;
    border: none;
    font-size: 1.2rem;
    width: 15%;
    margin-right: 100px;
  }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: #FFFFFF!important;
    background-color: $btnColour-2;
  }
}
