* {
  box-sizing: border-box;
}

.page-banner {
  background: linear-gradient(110deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%,
  rgba(250,254,255,1) 28%, rgba(219,244,255,1) 47%, rgba(145,212,226,1) 100%);
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;     /* just give enough height to fit text at smallest screen width size */
}

.circle {
  background-color: white;   /* use rgba for transparent effect */
  color: white;
  transform: translate(-50%, -50%);            /* move the circle left 50% of it's own width and up 50% of it's own height */
  border-radius: 50%;
  padding-top: 100%;                           /* this gives us a responsive square */
  top:50%;                                     /* this vertically centers the circle */
  left:0;
  width:100%;

}

.page-banner-text {
  position: absolute;
  left: 60%;
  top: 65%;
  transform: translateY(-50%);
  padding:2em;
  width:40%;
}
