$mainColour: #ff4c4c;

.Login {
  padding: 60px 0;

  form {
    margin: 0 auto;
    max-width: 320px;

    .btn {
      background-color: $mainColour;
      outline: none;
      border: none;
    }
  }

}
