//Colour variables
$mainColour: #4267B2;

.navbar {
  height: 50px;

  .navbar-brand{
    margin-left: 100px;
    position: relative;
    background-size: contain;
  }
  .page-links{
    margin-right: 650px;
  }
  .link-one{
      margin-right: 40px;
      color: black !important;
      font-size: 1rem;
  }
  .link-two{
      color: black !important;
      font-size: 1rem;
  }
  .nav-link:hover{
    color: $mainColour;
  }
  .nav-avatar{
    margin-right: 105px;
    .nav-avatar-text{
      font-size: 1rem;
      margin-right: 20px;
      cursor: default;
    }
    #dropdown-menu-align-right{
      all: unset;
      cursor: pointer;
    }
    #dropdown-menu-align-right::after{
      display: none;
    }
  }

}
