$mainColour: #4267B2;

@mixin for-desktop-up {
  @media (min-width: 1100px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
.student-dashboard {
  margin: 0 9%;
  .subject{
    cursor: pointer;
  }
    h1{
      font-size: 1.5rem;
      display: inline;
    }
      .pdf-button{
        min-width: 130px;
        color: #FFFFFF;
        background-color: #FF6584;
        outline: none;
        float: right;
        border: none;
        border-radius: 8px;
        padding: 5px;
        display: inline-block;
        align-self: center;
        text-align: center;
        @include for-phone-only {
          float: none;
          margin-top: 2%;
        }
      }
    }
.subject{
     margin-top: 1%;
}
