$mainColour: #FF6584;
$mainColour-dark: #F84574;

.show-profile {
  margin-left: 140px;
  margin-right: 140px;
  padding-bottom: 20px;
  h1{
    font-size: 1.5rem;
    display: inline;
  }
  .edit-button{
      min-width:  130px;
      float: right;
      color: #FFFFFF;
      background-color: $mainColour;
      outline: none;
      border: none;
      border-radius: 8px;
      padding: 5px;
      display: inline-block;
      align-self: center;
      text-align: center;
    }
  .edit-button:hover{
        background-color: $mainColour-dark;
        border: none;
  }
  form {
    .form-row {
      width: 100%;
    }
  }
}
