//Importing Font Family
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
//Importing sass library
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-backBtn{
  margin-bottom: 32px;
  padding: 0px;
}