//Colour variables
$mainColour: #4267B2;

// Setting up mixins for different screen sizes
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
.parent{
  display: flex;
}
.Logo{
  float: left;
  margin-left: 200px;
  img{
    cursor: pointer;
  }
  p{
    font-size: 1.4rem;
    margin-left: 42px;
  }
  .Buttons{
    display: block;
    .btn-custom-three {
      color: black;
      border: 1px solid rgba(218, 223, 225, 1);
      text-align: center;
      font-size: 16px;
      margin-right: 20px;
    }
    .btn-custom-three:hover {
      color: white;
      border: none;
      background: #FF6584;
    }
    .btn-custom-admin {
      color: black;
      border: 1px solid rgba(218, 223, 225, 1);
      text-align: center;
      font-size: 16px;
    }
      .btn-custom-admin:hover {
        color: white;
        border: none;
        background: #4267B2;
      }
  }
}

.LoginBox {
  float: right;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include for-phone-only {
    margin-top: -60px;
  }
  .login-card{
    width: 25rem;
    height: 36rem;
    border: none;
    @include for-phone-only {
      width: 20rem;
      height: 30rem;
    }
  }
  form {
    margin: 0 auto;
    max-width: auto;
    padding: 30px 0px 0px 0px;
    .form-group {
      width: 380px;
      @include for-phone-only {
        width: 300px;
      }
    }
    .btn-custom-one {
      background-color: $mainColour;
      color: white;
      outline: none;
      border: none;
      font-size: 17px;
      margin-bottom: 20px;
    }
    .btn-custom-one:hover, .btn-custom-one:focus, .btn-custom-one:active {
        background-color: #1c5ad8;
        border: none;
    }
    .btn-custom-two {
      color: "white";
      border: 1px solid rgba(218, 223, 225, 1);
      text-align: center;
      font-size: 16px;
      margin-bottom: 20px;
      img{
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
    .btn-custom-two:hover, .btn-custom-two:focus, .btn-custom-two:active {
        background-color: #f6f6f6;
        border: 1px solid rgba(218, 223, 225, 1);
    }

  }
}

.card {
  border: none;
  align-items: center;
  justify-content: center;
  .card-title{
    font-size: 30px;
  }
  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  .card-text{
    text-align: center;
    font-size: 15px;
  }
}
