//Colour variables
$mainColour: #FF6584;
$mainColour-dark: #F84574;

.request-inbox {
  margin: 0 10%;
  h1{
    font-size: 1.5rem;
  }
  .request-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    .wide-card {
      width: 100%;
      height: 75px;
      font-size: 1.25em;
    }
    .wide-card:hover {
      background-color: $mainColour;
      color: white;
      cursor: pointer;
    }
  }
}

@media (min-width: 889px){
  .course-classes {
    .card-container {

      .wide-card {

      }
    }
  }
}
